<div class="container ">
  <dx-chart id="chart" [dataSource]="data" [palette]="['#ffeb3b']">
    <dxo-common-series-settings
      argumentField="from"
      argumentField="to"
      type="line"
    >
      <dxo-point [visible]="false"></dxo-point>
    </dxo-common-series-settings>
    <dxi-series
      valueField="SERV.Instagram Post Picture Delay (msec)"
      name="SERV.Instagram Post Picture Delay (msec)"
    >
    </dxi-series>
    <!-- HZ axis ticks  -->

    <dxo-argument-axis [tickInterval]="100"  >
      <dxo-label [format]="{ type: 'custom' }" [visible]="true" [font]="{ size: '8.5px' }"
                 [customizeText]="customizeArgumentAxisText" >
      </dxo-label>
      <dxo-minor-tick [visible]="false"  ></dxo-minor-tick>
      <dxo-tick  [visible]="true" ></dxo-tick>
    </dxo-argument-axis>
    <!-- VL ticks  -->
    <dxi-value-axis  [tickInterval]="500" > 
    <dxo-label [font]="{ size: '10px' }"></dxo-label>
    </dxi-value-axis>
    <!-- crosshair  -->
    <dxo-crosshair [enabled]="true">
      <dxo-label [visible]="true"> </dxo-label>
    </dxo-crosshair>
    <dxo-legend
      verticalAlignment="top"
      horizontalAlignment="center"
      itemTextPosition="bottom"
    >
    </dxo-legend>

    <dxo-export [enabled]="true"> </dxo-export>
  </dx-chart>
</div>
